@import "tailwindcss";
@plugin "daisyui";

:root {
  color-scheme: light;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: hsl(var(--b2));
  color: hsl(var(--bc));
  font-family: Arial, Helvetica, sans-serif;
}
